@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
/* 
#root {
  margin: 0;
  padding: 0;
} */

body{
  width: 100%;
    /* font-family: "Poppins", "sans-serif", "roboto"; */
    font-family: 'DM Sans', sans-serif;
}

@font-face {
  font-family: "normal";
  src: local('normal'), url("../public/font/AkayaTelivigala-Regular.ttf") format('opentype');
}

.AkayaTelivigala-Regular {
  font-family: "normal";
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root{
  padding: 12px 26px !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
}


.swiper {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide {

  width: 100%;
}

#sidebar_hover:hover{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 104.88%) !important;
  color: #fff;
}

.bg_color_gradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 104.88%) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  padding-left: 30px; /* Space for icon */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M8 0a4 4 0 0 0-4 4c0 3 4 8 4 8s4-5 4-8a4 4 0 0 0-4-4zm0 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>') no-repeat right center;
  background-size: 20px 20px; /* Size of icon */
}


.css-19kzrtu {
  padding: 0px !important;
}


.border__item{
  border:8px solid transparent;
}
#supportAgent-p-bar .ant-progress-text{
  color:white;
  font-weight:600;
  font-size: 16px;
}
.ant-table-cell{
  color:#5D6670
}

/* ---------style for ant design table pagination----------- */
.ant-pagination .ant-pagination-item{
  border-right: 2px solid red !important;
  color:#5D6670;
  margin: 0px 0px !important;
}
.ant-pagination .ant-pagination-item-active a{
  color:black;
  background:#E7E8EA;
  border-radius: 4px;

}

.ant-table-thead .ant-table-cell {
  background-color: green !important;
  }

#reportPage-shadow{
  box-shadow: 9px 13px 13px -13px black;
}


.ant-table-thead >tr >th{
  color:#68709C !important;
  font-size:13px !important;
  font-weight: 700 !important;
  background: red !important;
}

.support-agent-dashboard .ant-table-cell{
  padding: 16px 27px !important;
}

.ant-pagination-options{
  display:none !important;
}
.admin__Table .ant-table-cell{
  padding: 15px 22px !important;
}


.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 20px 32px !important;
}

/* -----for user table-------- */
#user-table .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  box-shadow: 0px 0px 0px 0px !important;
}
.MuiBox-root .css-19kzrtu{
  padding:0px;
}

/* -----------support agent > dashboard > activity > elderly conditions date picker------------- */

#elderlyDatePicker .ant-picker-input > input{
  color:white !important;
}
#elderlyDatePicker .ant-picker-input > span{
  color:white !important;
}

#elderlyDatePicker input::placeholder {
  color: rgb(248, 248, 248); 

}

#suspendAdmin__swiper .mySwiper2  .swiper{
  width: 100% !important;
  height: 100% !important;
}

/* this is audio track*/
#waveform > div{
  margin-bottom: 64px !important;
}


.ant-table-thead .ant-table-cell {
  background-color: #F7F7F9 !important;
  border-radius: 0px !important;
  }



/* ===========ant modal css========== */


.ant-modal {
  border-radius: 30px !important;
  padding: 0px !important;
  /* Only border-radius here */
}

.ant-modal-content {
  border-radius: 30px !important;
  padding: 0px !important;
  /* border: 10px solid black; */
}


/* its use for divice finding--------------- */
 @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .circle-container {
    position: relative;
    width: 218px;
    height: 217px;
    animation: rotate 1s linear infinite;
  }

  .animated-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* end its use for divice finding--------------- */


/* ----------start rounded checkbox ----------- */
.rounded-checkbox .ant-checkbox-wrapper {
  border-radius: 50%;
}
.rounded-checkbox .ant-checkbox-inner {
  border-radius: 50%;
}
/* ----------end rounded checkbox ----------- */


/*---------- Report page shadow-------- */
#reportPage-shadow{
  box-shadow: 9px 13px 13px -13px black;
}


:where(.css-dev-only-do-not-override-nllxry).ant-switch.ant-switch-checked{
  background: #9039FF;
}